@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&family=Barlow+Semi+Condensed:wght@500;600&family=Karla:wght@400;700&family=Open+Sans&family=Poppins:ital,wght@0,600;1,800&family=Raleway:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&family=Barlow+Semi+Condensed:wght@500;600&family=Karla:wght@400;700&family=Open+Sans&family=Poppins:ital,wght@0,600;1,800&family=Raleway:wght@400;700&display=swap");
/* RESETS*/
/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
/*
    2. Remove default margin
  */
* {
  margin: 0;
}
/*
    3. Allow percentage-based heights in the application
  */
html,
body {
  height: 100%;
}
/*
    Typographic tweaks!
    4. Add accessible line-height
    5. Improve text rendering
  */
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
/*
    6. Improve media defaults
  */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
/*
    7. Remove built-in form typography styles
  */
input,
button,
textarea,
select {
  font: inherit;
}
/*
    8. Avoid text overflows
  */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
li {
  list-style-type: none;
  margin-bottom: 10px;
}
/*
    9. Create a root stacking context
  */
#root,
#__next {
  isolation: isolate;
}
/* VARIABLES */
:root {
  --Very-Dark-Blue: hsl(243, 87%, 12%);
  --Desaturated-Blue: hsl(238, 22%, 44%);
  --Bright-Blue: hsl(224, 93%, 58%);
  --Moderate-Cyan: hsl(170, 45%, 43%);
  --Light-Grayish-Blue: hsl(240, 75%, 98%);
  --Light-Gray: hsl(0, 0%, 75%);
}
/* GENERAL STYLES */
body {
  font-family: "Bai Jamjuree", sans-serif;
  font-family: "Barlow Semi Condensed", sans-serif;
  font-family: "Karla", sans-serif;
  font-family: "Open Sans", sans-serif;
  font-family: "Poppins", sans-serif;
  font-family: "Raleway", sans-serif;
  /* position: relative; */
}
h1,
h2,
header ul {
  font-family: "Bai Jamjuree", sans-serif;
  font-family: "Barlow Semi Condensed", sans-serif;
  font-family: "Karla", sans-serif;
  font-family: "Open Sans", sans-serif;
  font-family: "Poppins", sans-serif;
  font-family: "Raleway", sans-serif;
}
header {
  display: flex;
  max-width: 100%;
  /* gap: 35px; */
  margin-top: 25px;
  margin-bottom: 70px;
  justify-content: space-between;
}
main {
  /* background: url(./images/bg-curve-mobile.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; */
}
article,
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
header img {
  width: 100px;
  height: 30px;
  margin-left: 35px;
  -webkit-animation: rotate-in 0.5s 1s ease-in;
  animation: rotate-in 0.5s 1s ease-in;
  transition: all 0.5s 1s ease-in;
  -webkit-transition: all 0.5s 1s ease-in;
}
header ul {
  display: flex;
  align-self: flex-end;
  margin-right: 20px;
}
header ul li {
  margin-left: 12px;
}
button,
input {
  display: block;
  width: 80%;
  padding: 6px;
}
/* DETAILED STYLES */
/* .special-img {
  position: absolute;
  top: 650px;
  width: 100%;
  height: 70%;
  z-index: -6;
} */
h1,
h2 {
  max-width: 90%;
  margin-bottom: 30px;
}
h2 {
  font-size: 1.1rem;
}
p {
  max-width: 87%;
  margin-bottom: 25px;
}
.article__2 p {
  text-align: left;
}
.article__2 {
  margin-top: 100px;
}

button {
  background-color: var(--Bright-Blue);
  color: white;
  font-weight: 700;
  margin-top: 20px;
  border: none;
}
main img {
  width: 80%;
  /* align-self: center; */
}
div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
a {
  display: flex;
  color: var(--Moderate-Cyan);
}
a img {
  display: inline-block;
  width: 20px;
  justify-self: end;
}
.quote {
  width: 20px;
  position: absolute;
  top: 10px;
  left: 29px;
}
.article__2 .special__div {
  max-width: 80%;
  background-color: #fff;
  box-shadow: 0px 0px 10px rgba(51, 51, 51, 0.279);
  text-align: left;
  font-size: 0.799999rem;
  padding: 15px;
  border-radius: 6px;
  margin-top: 50px;
  position: relative;
  padding-top: 40px;
  padding-left: 30px;
}
.avatar {
  float: left;
  width: 30px;
  border-radius: 50%;
  margin-right: 10px;
}
.avatar__div {
  display: block;
  width: 100%;
  font-size: 0.699999rem;
  margin-top: 15px;
}
.avatar__div p {
  margin-bottom: 0;
}
.kyle {
  font-weight: 700;
}
.article__3 {
  background-color: var(--Desaturated-Blue);
  color: #fff;
  margin-top: 80px;
}
.article__3 div:first-child {
  margin-top: 50px;
}
.for-free {
  width: 100%;
}
.for-free button,
.for-free input {
  width: 65%;
  font-size: 0.8rem;
}
.for-free button {
  margin-top: 10px;
  margin-bottom: 60px;
}
footer {
  background-color: var(--Very-Dark-Blue);
  color: #fff;
  display: flex;
  flex-direction: column;
  gap: 25px;
}
footer img {
  display: inline-block;
  margin-right: 10px;
}
footer .social-icons {
  width: 35px;
  flex-direction: row;
  align-self: center;
  filter: invert(100%);
  margin-bottom: 50px;
  gap: 10px;
}
path {
  fill: white;
}

svg {
  margin-top: 60px;
}
@media screen and (min-width: 1200px) {
  header {
    /* width: 900px; */
    justify-content: space-between;
    margin-top: 50px;
  }
  header ul {
    margin-right: 65px;
  }
  header img {
    margin-left: 70px;
  }
  h1 {
    font-size: 2rem;
  }
  h2 {
    font-size: 1.8rem;
  }
  .article__1 {
    grid-template-rows: 1fr;
  }
  .article__1 div {
    position: relative;
  }
  .article__1 img {
    order: 2;
    justify-self: end;
  }
  .article__2 img {
    grid-column: 2/3;
    grid-template-rows: 1fr;
    justify-self: end;
  }
  .article__2 .container {
    grid-row: 1/2;
    align-self: start;
  }
  .article__1 button,
  .article__1 input {
    display: inline-block;
    margin: 0;
  }
  .article__1 input {
    width: 250px;
    /* align-self: left; */
    align-self: start;
  }
  .article__1 button {
    width: 150px;
    align-self: start;
    position: absolute;
    left: 260px;
    bottom: 0px;
    cursor: pointer;
  }
  .article__1,
  .article__2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 30rem;
    width: 90%;
    margin: auto;
  }
  .article__2 h2,
  .article__2 p {
    align-self: start;
  }
  .special__div {
    align-self: start;
  }
  .article__1 div p,
  h1,
  input,
  button {
    max-width: 100%;
  }
  .article__2 {
    margin-top: 100px;
    /* background: url(./images/bg-curve-desktop.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; */
  }
  /* .article__2.container,
  .article__2 img {
    width: 100%;
  } */
  /* header input,
  header button {
    display: inline-block;
  } */
  div {
    text-align: left;
  }
  .article__3 {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 25px;
  }
  .article__3 h2 {
    text-align: left;
    width: 87%;
  }
  .article__3 button {
    width: 160px;
    align-self: start;
    margin-left: 114px;
  }
  .article__3 div:first-child {
    margin-top: 13px;
  }
  .social-icons {
    position: absolute;
    right: 200px;
  }
  footer {
    flex-direction: row;
    align-items: center;
    position: relative;
    padding: 25px;
    gap: 120px;
  }
  footer ul {
    height: 100%;
  }
}
/* HOVER EFFECT */
@keyframes rotate-in {
  0% {
    opacity: 1;
    transform: scale(1.2);
  }
  50% {
    transform: scale(1);
  }
  51% {
    opacity: 1;
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
@-webkit-keyframes rotate-in {
  0% {
    opacity: 1;
    transform: scale(1.2);
  }
  50% {
    transform: scale(1);
  }
  51% {
    opacity: 1;
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
